*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: white;
}
a{
    text-decoration: none;
}
ul , li{
    list-style: none;
}
header{
    width: 100%;
    height: 100%;
}
.header-nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.header-nav .header-center{
    flex: 1;
}
.header-nav .header-center ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right .login{
    background: rgb(255, 208, 0);
    padding: 5px 10px;
    color: #000;
    font-size: 14px;
    border-radius: 5px;
}
.header-right .sign{
    padding: 5px 10px;
    color: #000;
    font-size: 14px;
    border-radius: 5px;
}
.header-right .login:hover{
    background: rgb(255, 174, 0);
}
.header-right .sign:hover{
    text-decoration: underline;
}
.header-right span{
    cursor: pointer;
    color: #262626;
}
.header-right span:hover{
    color: #000;
    transform: scale(1.1);
}
.header-nav a:nth-child(2){
    margin:0 5px;
}
.header-center ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-center ul li{
    margin:0 15px;
    border-bottom: 2px solid transparent;
}
.header-center ul li a{
   color: #505050;
}
.header-center ul li:hover{
    border-bottom: 2px solid rgb(255, 174, 0);
}
.header-main{
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(150deg,white 55%,rgb(255, 196, 0));
}
.header-main .header-main-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 100px;
}
.header-main .header-main-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main p{
    color: #1b5b2e;
    padding: 10px;
    font-weight: 700;
    width: 375px;
    line-height: 20px;
}
.header-main h1 span{
    color: rgb(255, 166, 0);
}
.header-main a{
    color: #111;
    background: rgb(255, 166, 0);
    padding: 10px 12px;
    border-radius: 5px;
    margin: 5px 0;
}
.header-main a:hover{
    background: rgb(255, 145, 0);
}
.header-main h1{
    margin: 5px 0;
}
#check , #bars , #xmark , .header-main-left .h2{
    display: none;
}


.special{
    width: 100%;
    height: 100%;
    background: #eee;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.special h1{
    margin-bottom: 20px;
    font-size: 15px;
    color: #474747;
}
.special .items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.special .items .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(25% - 10px);
    height: 100%;
}
.special .items .item p{
    color: #1b5b2e;
    margin-top: 10px;
}
.special .items #angle{
    font-size: 20px;
    color: #383838;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.special .items #angle:hover{
   color: #000;
   background: #fff;
}
main{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 30px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
main .card{
    width: calc(33.3333333% - 30px);
    height: 100%;
    margin: 30px 0;
}
main .card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
main .card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
main .card div span{
    background: rgb(255, 174, 0);
    padding: 5px;
    font-size: 15px;
}
main .card div p{
    color: #1b5b2e;
    font-size: 16px;
}
main .card img{
    border-radius: 20px;
    cursor: pointer;
}

.costomer{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.costomer .costomer-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.costomer .costomer-right{
    width: 50%;
}
.costomer .costomer-right > div{
    display: flex;
    justify-content: start;
    align-items: center;
}
.costomer .costomer-right h1{
    max-width: 340px;
}
.costomer .costomer-right p{
    margin: 10px 0;
    color: #1b5b2e;
    max-width: 385px;
}
.costomer .costomer-right img{
    margin-right: 10px;
}
.costomer .costomer-right h3{
    margin-top: 10px;
}
.costomer .costomer-right h6{
    color: #acacac;
    font-size: 12px;
}
.costomer .costomer-right span{
    font-size: 12px;
    color: rgb(255, 196, 0);
}
.costomer .costomer-right span:last-child{
   color: #a7a7a7;
}
.costomer .costomer-left img{
    object-fit: cover;
    border-radius: 50px;
}
.costomer .costomer-left{
    margin:0 20px;
}
.costomer .costomer-right > div img{
    border-radius: 50%;
    border: 1px solid #000;
    width: 70px;
    height: 70px;
    object-fit: cover;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 100px;
}
footer .logo p{
    color: #1b5b2e;
    max-width: 215px;
    margin: 20px auto;
}
footer .logo{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
footer .logo ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .logo ul li a span{
    color: #262626;
    margin: 0 10px;
    font-size: 14px;
}
footer div h2{
    color: #262626;
    font-size: 20px;
    margin-bottom: 20px;
}
footer div ul li{
    margin: 5px auto;
}
footer .abouttt ul li, .company ul li,.support ul li , .touch ul li{
    color: #505050;
}
footer .touch input{
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 15px;
    color: #505050;
    border: none;
    outline: none;
    border: 1px solid #505050;
}
/* responsive */
@media (max-width:1100px){
 .header-main .header-main-left{
    padding: 0;
 }
 main .card img{
    height: 200px;
 }
 main .card div p {
    color: #1b5b2e;
    font-size: 13px;
}
.costomer .costomer-left img {
    object-fit: cover;
    border-radius: 50px;
    width: 400px;
}
}
@media (max-width:1000px){
    .costomer .costomer-right p {
        max-width: 250px;
    }
}
@media (max-width:960px){
    .header-main .header-main-right img{
        margin-left: 150px;
     }
}
@media (max-width:930px){
    .header-nav .header-center ul li{
        margin: 0 10px;
    }
}
@media (max-width:900px){
    .costomer .costomer-right {
        margin: 0 30px;
    }
    .costomer .costomer-right h1 {
        font-size: 30px;
    }
}
@media (max-width:870px){
    .costomer .costomer-right h1 {
        font-size: 25px;
    }
    .costomer .costomer-right p {
        font-size: 15px;
    }
}
@media (max-width:850px){
    main .card div p {
        font-size: 12px;
    }
}
@media (max-width:800px){
    .header-nav .header-right{
        display: none;
    }
    .header-main p{
        width: 300px;
    }
    .header-center ul{
       background:linear-gradient(150deg,white 55%,rgb(255, 196, 0)) ;
       position: fixed;
       top: 100%;
       left: 0;
       width: 100%;
       height: 100%;
       flex-direction: column;
       transition: 0.5s;
    }
    .header-nav .header-center ul li {
        margin: 40px 10px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .header-center ul li a{
        color: rgb(61, 61, 61);
        font-size: 18px;
    }
    .header-center ul li:hover{
        background: rgb(255, 145, 0);
    }
    .header-center ul li:hover a{
        color: #000;
    }
    label #bars{
        display: block;
        font-size: 35px;
        color: rgb(255, 145, 0);
        cursor: pointer;
        margin-left: 20px;
        transition: 0.3s;
        position: absolute;
        right: 20px;
        top: 30px;
    }
    label #xmark{
        display: none;
        font-size: 35px;
        color: rgb(255, 145, 0);
        cursor: pointer;
        right: 20px;
        transition: 0.3s;
    }
    #check:checked~ .header-center ul{
        top: 0;
    }
    #check:checked~ label #xmark{
       display: block;
       position: absolute;
       z-index: 10;
    }
    main{
        justify-content: center;
    }
    main .card {
        width: calc(50% - 30px);
        margin:10px;
    }
    .costomer .costomer-left img {
        width: 350px;
    }
}
@media (max-width:780px){
    .costomer {
        flex-direction: column;
        border-top: 1px solid #262626;
    }
    .costomer .costomer-right {
        margin: 50px 0px;
        order: 1;
    }
    .costomer .costomer-left{
        order: 2;
    }
}
@media (max-width:750px){
    .header-right .login {
        padding: 3px 5px;
    }
    .header-main-right img{
        width: 200px;
    }
}
@media (max-width:650px){
    .header-main{
        flex-direction: column;
        justify-content: center;
    }
    .header-main .header-main-left {
        justify-content: center;
        align-items: center;
    }
    .header-main p{
        text-align: center;
    }
    .header-main .header-main-right img{
      margin-left: 0;
    }
    .special .items .item:nth-child(1){
        display: none;
    }
    .special .items #angle{
        margin-left: 20px;
    }
    .special .items .item {
        width: 30%;
    }
}
@media (max-width:630px){
    .header-main h1{
        display: none;
    }
    .header-main .h2{
        display: block;
        text-align: center;
    }
    .header-main .h2 span{
        color: rgb(255, 166, 0);
    }
}
@media (max-width:590px){
    main .card{
        width: 100%;
        margin:20px 0;
    }
    .costomer .costomer-right h1 {
        font-size: 25px;
        min-width: 300px;
    }
}
@media (max-width:500px){
    .header-main .header-main-left{
        margin-top: 30px;
    }
    .costomer .costomer-right {
        width: 100%;
    }
}
@media (max-width:450px){
    .special .items .item:nth-child(2){
        display: none;
    }
    .special .items .item {
        width: 50%;
    }
}
@media (max-width:420px){
    .header-main .header-main-left{
        margin-top: 60px;
    }
    .header-main a {
        text-align: center;
        font-size: 12px;
    }
}
@media (max-width:400px){
    .costomer .costomer-left img {
        width: 300px;
    }

}
@media (max-width:350px){
    .header-main-left p{
        width: 230px;
    }
    .special .items .item:nth-child(3){
        display: none;
    }
    .costomer .costomer-right h1 {
        font-size: 25px;
        min-width: 200px;
    }
    .costomer .costomer-left img {
        width: 250px;
    }
}
@media (max-width:320px){
    .header-nav .logo{
        display: none;
    }
}
@media (max-width:300px){
    .costomer .costomer-left img {
        width: 200px;
    }
}
@media (max-width:230px){
    .costomer .costomer-right > div {
        display: block;
    }
}